<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= copy[:title] %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/push_button.css">
    <link rel="stylesheet" href="/css/tasker.css">
    <!-- Favicon -->
    <%= erb :_favicon %>
</head>