<div>
    <% onclick = defined?(onclick) ? onclick : '' %>
    <button class="nav" onclick="<%= onclick %>">
        <span><%= caption %></span>
    </button>
</div>

<style>
    button.nav {
        font-size: 16px;
        border: none;
        cursor: pointer;
        padding: 0;
        padding-top: 5px;
        margin-top: 0px;
        background: white;
        border-bottom: 2px solid white;
    }

    button.nav span {
        display: block;
        box-sizing: border-box;
        border: none;
        border-bottom: none;
        padding: 8px 12px;
        margin: 0px;
        color: var(--black);
        transform: translateY(-3px);
        text-wrap: nowrap;
    }

    button.nav:hover {
        border-bottom: 2px solid var(--accent-color);
    }
</style>