<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="wrapper">
        <div id="scroller-tool">
            <div id="task-list-header" class="grey"></div>
            <div id="task-header" class="grey"></div>
            <%= erb :_task_list, locals: { tasks: @sorted_tasks } %>
            <%= erb :_new_project_form %>
        </div>
    </div>
    
</body>

</html>
