#scroller-tool {
    display: grid;
    min-width: 800px;
    min-height: 500px;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 64px 1fr;
    border: 1px solid black;
    border-collapse: collapse;
}

#scroller-tool > div {
    /* ... */
}

#scroller-tool > div.lightgrey {
    background: #F5F5F5;
}

#scroller-tool > div.grey {
    background: #292E37;
}

#scroller-tool > div.blue {
    background: #2FB8BA;
}

#task-list-header {
    border-right: 1px solid #9999ac;
}

#task-view {
    background: white;
}