<div id="time-spans-wrapper">
    <% if task.time_spans.any? { |ts| ts.finished? } %>
        <div><p class="label">Duration</p></div>
        <div><p class="label">From</p></div>
        <div><!-- dash --></div>
        <div><p class="label">To</p></div>
        <% task.time_spans.each do |time_span| %>
            <% next if time_span.active? %>
            <% next if time_span.duration == 0 %>
            <div><p class="duration"><%= formatted_minutes(time_span.duration) %></p></div>
            <div><p class="time"><%= time_span.from.strftime('%H:%M') %></p></div>
            <div class="emdash"><p class="label">&mdash;</p></div>
            <div><p class="time"><%= time_span.to.strftime('%H:%M') %></p></div>
        <% end %>
        <% if task.time_spans.size > 1 %>
            <!-- Total -->
            <!-- <div><p class="duration"><%= formatted_minutes(task.duration) %></p></div> -->
        <% end %>
    <% end %>
</div>

<style>
    #time-spans-wrapper {
        display: grid;
        grid-template-columns: 1fr 96px 32px 96px;
        grid-gap: 8px 0px;
    }

    #time-spans-wrapper > div {
        display: flex;
        align-items: center;
    }

    #time-spans-wrapper > div.emdash {
        width: 100%;
        justify-items: center;
    }

    #time-spans-wrapper > div.emdash p {
        width: 100%;
        text-align: center;
    }

    #time-spans-wrapper p {
        margin: 0;
    }

    p.duration {
        font-weight: bold;
        font-size: 1.25rem;
    }

    p.time {
        background-color: #EEF0F2;
        padding: 8px;
        width: 100%;
    }

    p.label {
        color: #9999ac;
        font-size: 0.9rem;
    }
</style>
