<div id="task-view">
    <%= erb :_task_time_spans, locals: { task: task } %>
    <%= erb :_task_description, locals: { task: task } %>
</div>

<style>
    #task-view {
        display: flex;
        flex-direction: column;
        padding: 32px;
        gap: 16px;
    }
</style>

<script>
    document.getElementById('toggle-task').onclick = () => toggleTask()

    let toggleTask = () => {
        fetch(`/task/<%= task.id %>/toggle.json`, {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}, 
        }).then(res => {
            console.log(res)
            if (res.status == 200) {
                window.location.reload()
            }
        })
    }
</script>