<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="wrapper">
        <div id="scroller-tool">
            <%= erb :_task_list_header %>
            <div id="task-header" class="grey"></div>
            <%= erb :_task_list, locals: { tasks: @sorted_tasks } %>
            <%= erb :_dash_view %>
        </div>
    </div>
    
</body>

</html>
